<h1><%= t "reset" %></h1>
<p><%= t "reset-link" %></p>
<%= link_to t("reset"), edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>
<p><%= t "expire" %></p>
<p><%= t "ignore-reset" %></p>
