<p class="fields answer">
  <%= f.label :content, t("admin.word_label.answer") %>
  <%= f.text_field :content, class: "form-control", required: true %>
  <%= f.hidden_field :_destroy %>
  <%= f.label :correct, t("admin.word_label.answer-correct") %>
  <%= f.check_box :correct %>
  <%= link_to_remove_fields "remove", f %>
</p>
