<p id="notice"><%= notice %></p>

<p>
  <strong><%= t "title.content" %>:</strong>
  <%= @word.content %>
</p>
<p>
  <strong><%= t "title.category" %>:</strong>
  <%= @word.category.name %>
</p>
<h5><%= t "admin.word_label.answer" %>>:</h5>
<ul>
  <%= render @word.answers %>
</ul>

<%= link_to t("features.edit"), edit_admin_word_path(@word) %> |
<%= link_to t("features.back"), admin_words_path %>
